.overlay-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1d2228;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.overlay-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.overlay-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.overlay-button.signup {
    background-color: #0066ff;
    color: white;
}

.overlay-button.signup:hover {
    background-color: #004ccc;
}

.overlay-button.logout {
    background-color: red;
    color: white;
}

.overlay-button.logout:hover {
    background-color: rgb(255, 88, 88);
}

.overlay-button.login {
    background-color: white;
    color: #0066ff;
    border: 2px solid #0066ff;
}

.overlay-button.login:hover {
    background-color: #f0f0f0;
}
